body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
  background-color:rgb(53, 193, 248);
  background-size:cover;
  margin:1rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; 
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.app1{
  background-color: antiquewhite;
  background-size:cover;
}
.App2{
  background-size:cover;
  background-image: url('098765img.jpg');
  height: 100%;
  width: 100%;

}
.dropdown{
  opacity: 0.9;
}
.text{
  padding-left: 6%;
  padding-top: 3vw;
  padding-bottom: 3vw;
  color: white;
  max-width: 50%;
  font-size: 4vw;
}
.text1{
  color: rgb(119, 216, 255);
  font-size: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.center{
  width:100%;
}
.text2{
  color: rgb(55, 195, 250);
  font-size: 150%;
  margin-right: 4%;
}
.text3{
  padding-left: 6%;
  font-size: 150%;
  margin-top: 0.45%;
}
.btn1{
margin-top: "5rem";
width:90%;
}
